# Segmenting and Clustering Neighborhoods in Toronto - Part-2


#### Importing Libraries

In [1]:
import pandas as pd
import geocoder # import geocoder

In [2]:
# Importing the dataset saved from part 1 of the assignment
df = pd.read_csv('toronto.csv')
df.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

#### Define a function to get the latitude and longitude using geocoder

In [3]:
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords

In [4]:
latitude = [] # empty list for latitude
longitude = [] # empty list for longitude

# add the values latidude and lonitude by calling the function to the empty list
for i in range(0,len(df)):
    postcode = df['Postalcode'].values[i]
    a = get_latilong(postcode)
    latitude.append(a[0])
    longitude.append(a[1])

#convert to series of data
df['Latitude'] = latitude
df['Longitude'] = longitude

#### Explore the data

In [5]:
Toronto_1 = df.reset_index(drop = True)
Toronto_1.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.81139,-79.19662
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.78574,-79.15875
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.76575,-79.17470
3,M1G,Scarborough,Woburn,43.76812,-79.21761
4,M1H,Scarborough,Cedarbrae,43.76944,-79.23892

In [6]:
# saving it to a csv file in order to use it for the third part of assignment
Toronto_1.to_csv('Toronto_1.csv', index = False)